@import "tailwindcss";

@theme {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-cormorant: "Cormorant Garamond", serif;

  --color-harafBlue: #1A78C2;
  --color-primary: #2C1A0E;
  --color-midBrown: #6B4C32;
  --color-harafYellow: #F5E200;
  --color-navyDark: #0A3D6B;
}
